nav.top, footer, #prefs_mac_ssb_tab {display: none !important;}
* {font-family: Lato,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;}
/* Fix to force display of filtered members while inviting for private channels (Fixes #280) */
#channel_invite_container > .filter_select > .fsl_list_container > .monkey_scroll_wrapper {display: block !important;}
/* Fix to force display of scrollbar in channel list (Fixes #309) */
.channel_modal_with_list .monkey_scroll_wrapper {display: block !important; overflow-y: scroll !important;}
.channel_modal_with_list .monkey_scroll_hider {display: block !important;}
/* Removes the "Download the Slack App..." menu entry */
.slack_menu_download {display: none !important;}
/* Force monospaced fonts in <pre> (Fixes #428) */
pre, pre > span { font-family: Monaco,Menlo,Consolas,"Courier New",monospace; }
/* Assign .overflow_ellipsis width (Fixes #437) */
.overflow_ellipsis { width: 148px; }
