Source: scudcloud
Section: python
Priority: optional
Maintainer: Rael Gugelmin Cunha <rael.gc@gmail.com>
Build-Depends: debhelper (>= 9), python3, python3-setuptools, dh-python
Standards-Version: 3.9.6
Homepage: https://github.com/raelgc/scudcloud

Package: scudcloud
Architecture: all
Depends: python3,
         python3-setuptools,
         python3-dbus,
         python3-dbus.mainloop.qt,
         gir1.2-notify-0.7,
         python3-pyqt5,
         python3-pyqt5.qtsvg,
         python3-pyqt5.qtwebkit,
         xdg-utils,
         notification-daemon,
         ${misc:Depends},
         ${python3:Depends}
Recommends: sni-qt,
            fonts-lato,
            gir1.2-unity-5.0,
            libqtwebkit-qupzillaplugins,
            python3-hunspell,
            python3-notify2,
            python3-gi,
            ttf-mscorefonts-installer
Description: ScudCloud is a non official desktop client for Slack
 ScudCloud is a non official desktop client for Slack.
 Slack (http://slack.com) is a platform for team communication.
